<div>
    <h2 id="page-heading">
        <span>Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item" [routerLink]="['/item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Item
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="items?.length === 0">
        <span>No items found</span>
    </div>
    <div class="table-responsive" *ngIf="items?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <!-- <th scope="col" ><span>ID</span></th> -->
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Price</span></th>
            <th scope="col" ><span>Quantity</span></th>
            <th scope="col" ><span>Description</span></th>
            <th scope="col" ><span>Shopping List</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/item', item.id, 'view' ]">{{item.id}}</a></td> -->
                <td><a [routerLink]="['/item', item.id, 'view' ]">{{item.name}}</a></td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.description}}</td>
                <td>
                    <div *ngIf="item.shoppingList">
                        <a [routerLink]="['/shopping-list', item.shoppingList?.id, 'view' ]" >{{item.shoppingList?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/item', item.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/item', item.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(item)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
